* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

html {
  font-size: 16px;
}

h1 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

button,
a.btn {
  padding: 0.5rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
}

/* input component */
.input_container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input_container input {
  width: 100%;
}

.input_container label {
  font-weight: 500;
}

.input_container p {
  color: red;
  font-size: 0.85rem;
}

.input_container+.input_container {
  margin-top: 0.45rem;
}

.input_container+button[type="submit"] {
  margin-top: 1.25rem;
}